---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE, FEATURES } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			{FEATURES.TAGS_ENABLED && <HeaderLink href="/tags">Tags</HeaderLink>}
			{FEATURES.ARCHIVE_ENABLED && <HeaderLink href="/archive/monthly">Archive</HeaderLink>}
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<SocialLinks />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--primary-background);
		box-shadow: 0 2px 8px oklch(12% 0.02 260 / 0.05);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--primary-foreground);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--primary);
	}
	@media (max-width: 720px) {
		:global(.social-links) {
			display: none;
		}
	}
</style>
